:root {
  --font-size-base: 16px;
  --font-family-base: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
}

body {
  background-color: rgb(233, 227, 227);
}

h2 {
  display: inline-block;
  font-size: 1rem;
  margin-left: 5rem;
  margin: 0.8rem 0rem 0rem 4rem;
  padding: 0.5rem 0.2rem;
  border: 1px solid black;
  min-width: 4rem;
  text-align: center;
  height: 2rem;
}

h3 {
  font-weight: 910;
}

label {
  display: inline-block;
}

button {
  padding: 0.5em;
  font-size: 0.9rem;
  background: gray;
  border: 0;
  width: 6rem;
  border-radius: 2px;
  border: 0.3px solid black;
  color: white;
  text-align: center;
}

button:hover {
  background: rgb(52, 50, 50);
}

input {
  width: 29rem;
  height: 3.6rem;
}

li:hover {
  cursor: pointer;
  background-color: lightgray;
}

.logo {
  display: inline-block;
  width: 9rem;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  margin: 0.7rem 1rem 1.3rem;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}

.posts__header {
  border: 1px solid black;
  height: 6rem;
}

.posts__container {
  margin: 1rem;
}

.posts__heading {
  border: 1px solid black;
  font-size: 1rem;
  height: 3.5rem;
}

.posts__sections {
  display: flex;
}

/* Post Detail Section */
.content-section__container {
  border: 1px solid black;
  border-radius: 2px;
  min-width: 50%;
  height: 50vh;
  margin: 4rem 2rem;
}

.content-section h3 {
  font-size: 1.2rem;
  margin: 2rem;
}

.posts-form {
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.form-row label {
  padding-right: 1em;
}

.form-row input {
  padding: 0.5em;
  font-size: 0.9rem;
}

.form-row button {
  margin-left: 5rem;
}

.form-row__button {
  margin-right: 2rem;
}

/* Posts section */
.posts-list__container {
  border: 1px solid black;
  border-radius: 2px;
  margin-top: 2rem;
  height: 70vh;
  min-width: 22rem;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.posts-list__title {
  margin: 1rem;
  font-size: 1.2rem;
}

.posts-list__button-container {
  position: sticky;
  top: 0;
  align-self: flex-end;
}

.posts-list__list {
  list-style-type: none;
  padding: 1rem 0;
}

.posts-list__list li {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 600px) {
  .posts__sections {
    flex-direction: column;
  }
  .posts-list__container {
    min-width: 100%;
  }
  .content-section__container {
    margin: 2rem 0;
  }
}
